.obsidian/workspace.json
.obsidian/workspace-mobile.json
.trash/
.DS_Store
07 Resources Library/Deep Learning/Capstones/Face_mask_detection.zip
07 Resources Library/Deep Learning/Capstones/Dental-Panaromic-Autoencoder.npz
07 Resources Library/Deep Learning/Datasets/loan_data (1).csv
07 Resources Library/Capstone/Datasets/Capstone 1/Part 1/Images.zip
07 Resources Library/Capstone/Datasets/Capstone 2/Part 1/dataset_hist_structures 2.zip
07 Resources Library/Machine Learning/Datasets/rating.csv
07 Resources Library/Deep Learning/Datasets/mnist_train.csv
